{% extends 'newfrontbase.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('./styles/about/style.css') }}">
    <div class="body1">

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="animate-charcter">Our Organization</h3>
                </div>
            </div>
        </div>
        <br></br>
        <div class="maincontainer">
            <div class="thecard">
                <div class="thefront">
                    <h1 class="title">Sri Lanka's Best Institute for Higher Education</h1>
                </div>
                <div class="theback">
                    <p class="para">The Green University Town is a landmark project by the National School of Business Management (NSBM),
                        one of the nation’s premier degree schools.

                        The University features state-of-the-art lecture hall facilities, laboratories, libraries, modern auditoriums.

                        The NSBM University complex offers not only classroom facilities but also hostels, free study areas, cinemas, expansive walking and lounge areas, swimming pools, modern gymnasiums and an “entrepreneurship” business unit, making it a complete education and live-in facility bringing the university experience of 21st century to our doorstep.
                        The university town spans over 26 acres of land, and will eventually accommodate over 30,000 local and international undergraduates.
                        NSBM Green University Town has earned the distinction of being South Asia’s first green university, paving the way for more green buildings in the education sector in the region. The building has achieved the BCA Green Mark Gold rating for sustainable buildings</p>
                    <a href="https://www.nsbm.ac.lk/" class="hero-btn">Click Here To Know More</a>
                </div>
            </div>
        </div>

    </div>
    <script src="{{ asset('./style/about/index.js') }}"></script>
{% endblock %}
